---
- name: Create local directory
  file:
    path: "./openvpn_clients/{{ inventory_hostname }}"
    state: directory
    mode: "0755"
  delegate_to: localhost
  become: no

- name: Download client configuration files
  fetch:
    src: "{{ client_cert_dir }}/{{ item.name }}.ovpn"
    dest: "./openvpn_clients/{{ inventory_hostname }}/{{ item.name }}.ovpn"
    flat: yes
  loop: "{{ openvpn_users | selectattr('state', 'equalto', 'active') | list }}"
  loop_control:
    label: "{{ item.name }}"

- name: Show download location
  debug:
    msg: "Client configs downloaded to: ./openvpn_clients/{{ inventory_hostname }}/"
