---
- name: Enable IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Check if FORWARD rule exists for tun0 to eth0
  command: iptables -C FORWARD -i tun0 -o eth0 -j ACCEPT
  ignore_errors: true
  register: forward_tun0_to_eth0_rule
  changed_when: false

- name: Add FORWARD rule for tun0 to eth0
  command: iptables -A FORWARD -i tun0 -o eth0 -j ACCEPT
  when: forward_tun0_to_eth0_rule.rc != 0

- name: Check if FORWARD rule exists for eth0 to tun0
  command: iptables -C FORWARD -i eth0 -o tun0 -m state --state RELATED,ESTABLISHED -j ACCEPT
  ignore_errors: true
  register: forward_eth0_to_tun0_rule
  changed_when: false

- name: Add FORWARD rule for eth0 to tun0
  command: iptables -A FORWARD -i eth0 -o tun0 -m state --state RELATED,ESTABLISHED -j ACCEPT
  when: forward_eth0_to_tun0_rule.rc != 0

- name: Check if POSTROUTING MASQUERADE rule exists
  command: "iptables -t nat -C POSTROUTING -s {{ openvpn_network }}/24 -o eth0 -j MASQUERADE"
  ignore_errors: true
  register: postrouting_masquerade_rule
  changed_when: false

- name: Add POSTROUTING MASQUERADE rule
  command: "iptables -t nat -A POSTROUTING -s {{ openvpn_network }}/24 -o eth0 -j MASQUERADE"
  when: postrouting_masquerade_rule.rc != 0

- name: Save iptables rules
  shell: iptables-save > /etc/iptables.rules
  when: 
    - forward_tun0_to_eth0_rule.rc != 0 or 
      forward_eth0_to_tun0_rule.rc != 0 or 
      postrouting_masquerade_rule.rc != 0

- name: Allow OpenVPN (Debian)
  ufw:
    rule: allow
    port: "{{ openvpn_port }}"
    proto: "{{ openvpn_proto }}"
  when: ansible_os_family == "Debian"

- name: Allow OpenVPN in docker zone (RedHat)
  firewalld:
    port: "{{ openvpn_port }}/{{ openvpn_proto }}"
    zone: docker
    permanent: yes
    state: enabled
    immediate: yes
  when: ansible_os_family == "RedHat"

- name: Enable masquerading in docker zone (RedHat)
  firewalld:
    masquerade: yes
    permanent: yes
    state: enabled
    immediate: yes
    zone: docker
  when: ansible_os_family == "RedHat"
