---
- name: Update package cache (Debian/Ubuntu)
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Update package cache (RedHat/CentOS/RHEL)
  dnf:
    update_cache: yes
    update_only: yes
  when: ansible_os_family == "RedHat"

- name: Install essential packages
  include_tasks: "{{ ansible_os_family | lower }}.yml"

- name: Set timezone to UTC
  timezone:
    name: UTC

- name: Set system language to English
  include_tasks: change_language.yml
