---
- name: Set SSH key variables
  set_fact:
    expanded_ssh_key_dir: "{{ ssh_key_dir | expanduser }}"
    ssh_key_name: "{{ inventory_hostname | regex_replace('[^a-zA-Z0-9._-]', '_') }}_{{ ansible_user }}_key"
    ssh_directory: "{{ '/root/.ssh' if ansible_user == 'root' else '/home/' + ansible_user + '/.ssh' }}"

- name: Generate SSH key pair locally
  block:
    - name: Create local SSH key directory
      file:
        path: "{{ expanded_ssh_key_dir }}"
        state: directory
        mode: "0700"

    - name: Generate SSH key pair
      openssh_keypair:
        path: "{{ expanded_ssh_key_dir }}/{{ ssh_key_name }}"
        type: rsa
        size: 4096
        comment: "{{ ansible_user }}@{{ inventory_hostname }}"
        force: no
  delegate_to: localhost
  become: no

- name: Create platform group
  group:
    name: "{{ server_role }}"
    gid: 9999
    state: present

- name: Add user to required groups
  user:
    name: "{{ ansible_user }}"
    groups: "{{ 'wheel,root,' + server_role if ansible_os_family == 'RedHat' else 'sudo,root,' + server_role }}"
    append: yes

- name: Create remote .ssh directory
  file:
    path: "{{ ssh_directory }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0700"

- name: Add SSH public key
  authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ lookup('file', expanded_ssh_key_dir + '/' + ssh_key_name + '.pub') }}"
    state: present

- name: Configure sudoers
  lineinfile:
    path: /etc/sudoers.d/{{ ansible_user }}
    line: "{{ ansible_user }} ALL=(ALL) NOPASSWD:ALL"
    create: yes
    mode: "0440"
    validate: "visudo -cf %s"

- name: Configure wheel group (RedHat)
  lineinfile:
    path: /etc/sudoers.d/wheel
    line: "%wheel ALL=(ALL) NOPASSWD:ALL"
    create: yes
    mode: "0440"
    validate: "visudo -cf %s"
  when: ansible_os_family == "RedHat"

- name: Verify SSH connectivity
  command: ssh -i {{ expanded_ssh_key_dir }}/{{ ssh_key_name }} -o ConnectTimeout=5 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null {{ ansible_user }}@{{ ansible_host }} "echo OK"
  delegate_to: localhost
  become: no
  changed_when: false
