---
- name: Update libnftables packages to fix compatibility issues
  dnf:
    name:
      - libnftnl
      - nftables
    state: latest

- name: Install firewalld package
  dnf:
    name: firewalld
    state: present

- name: Start and enable firewalld
  systemd:
    name: firewalld
    enabled: yes
    state: started

- name: Set default zone to public
  command: firewall-cmd --set-default-zone=public
  changed_when: false

- name: Add firewall rules
  firewalld:
    zone: public
    port: "{{ item.port }}/{{ item.proto }}"
    permanent: yes
    state: enabled
    immediate: yes
  loop: "{{ firewall_rules }}"

- name: Allow Docker internal traffic (RedHat)
  firewalld:
    zone: trusted
    interface: docker0
    state: enabled
    permanent: yes
    immediate: yes
  ignore_errors: yes

- name: Reload firewalld
  command: firewall-cmd --reload

- name: Display firewalld status
  command: firewall-cmd --list-all --zone=public
  register: firewalld_status
  changed_when: false

- name: Show firewall status
  debug:
    msg: "{{ firewalld_status.stdout_lines }}"
    verbosity: 0
