---
- name: Install UFW
  apt:
    name: ufw
    state: present

- name: Set default policies
  ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: incoming, policy: deny }
    - { direction: outgoing, policy: allow }

- name: Add firewall rules
  ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    comment: "{{ item.comment }}"
  loop: "{{ firewall_rules }}"

- name: Get Docker bridge subnet CIDR
  shell: docker network inspect bridge --format '{{ "{{" }}range .IPAM.Config{{ "}}" }}{{ "{{" }}.Subnet{{ "}}" }}{{ "{{" }}end{{ "}}" }}'
  register: docker_bridge_subnet
  changed_when: false
  ignore_errors: yes

- name: Get Coolify network subnet CIDR
  shell: docker network inspect coolify --format '{{ "{{" }}range .IPAM.Config{{ "}}" }}{{ "{{" }}.Subnet{{ "}}" }}{{ "{{" }}end{{ "}}" }}'
  register: coolify_network_subnet
  changed_when: false
  ignore_errors: yes

- name: Allow all traffic on loopback interface
  ufw:
    rule: allow
    interface: lo
    direction: in

- name: Allow Docker internal traffic (Debian/Ubuntu)
  ufw:
    rule: allow
    src: "{{ item }}"
  loop:
    - "{{ docker_bridge_subnet.stdout }}"
    - "{{ coolify_network_subnet.stdout }}"
  ignore_errors: yes
  when: ansible_os_family == "Debian" and (docker_bridge_subnet.rc == 0 or coolify_network_subnet.rc == 0)

- name: Allow Docker bridge interface traffic (Debian/Ubuntu)
  ufw:
    rule: allow
    interface: docker0
    direction: in
  ignore_errors: yes
  when: ansible_os_family == "Debian"

- name: Allow Docker internal traffic (RedHat)
  firewalld:
    zone: docker
    interface: docker0
    state: enabled
    permanent: yes
    immediate: yes
  ignore_errors: yes
  when: ansible_os_family == "RedHat"

- name: Enable UFW
  ufw:
    state: enabled

- name: Display UFW status
  command: ufw status numbered
  register: ufw_status
  changed_when: false

- name: Show firewall status
  debug:
    msg: "{{ ufw_status.stdout_lines }}"
    verbosity: 0