
---
- name: Install Docker (RedHat)
  include_tasks: redhat.yml
  when: ansible_os_family == "RedHat"

- name: Install Docker (Debian)
  include_tasks: debian.yml
  when: ansible_os_family == "Debian"

- name: Start and enable Docker
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes
  when: ansible_user != "root"

- name: Verify Docker
  command: docker --version
  changed_when: false
