
---
- name: Install Docker (Rocky Linux)
  include_tasks: rocky.yml
  when: ansible_os_family == "RedHat"

- name: Install Docker (Debian/Ubuntu)
  include_tasks: docker_debian.yml
  when: ansible_os_family == "Debian"

- name: Install Docker Python module
  pip:
    name: docker
    state: present

- name: Verify Docker installation
  command: docker --version
  register: docker_version_check
  failed_when: docker_version_check.rc != 0
  changed_when: false
